@charset "UTF-8";

footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, p, ul, li, a,
footer, header, main, nav, section {
	padding: 0;
	margin: 0;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-image: url("Top_view.jpg");
}

.banner {
  background-color: #007D3E;
  opacity: 0.9;
  color: white;
  padding: 0px 20px 10px;
  position: relative;
}

img, div.floating-box{
	position: relative;
	bottom: -30px;
}

.dropdown{
	text-align: right;
}

.dropdown li li{
	display: none;
	background-color: #007D3E;
}

ul li a:hover{
	color: black;
}

li a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
}

section ul:first-child{
	position: absolute;
	top: 250px;
	transform: skewx(14deg) translatex(143px);
	padding-bottom: 15px;

}
section ul:last-child{
	position: absolute;
	top: 325px;
	transform: skewx(14deg) translatex(160px);
}



footer {
  clear: both;
  background-color: #007D3E;
  opacity: 0.9;
  padding: 5px 20px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.ltft {
	display: block;
}

.rtft {
	display: block;
}

.floating-box {
	display: inline-block;
}

h2.sub{
	text-align: center;
	margin-top: 10px;
	color: white;
}

.colored {
	color: #0EC468;
	padding-left: 30px;
	text-shadow: 2px 2px black;
}

.indented {
	padding-left: 60px;
	margin-top: 5px;
	margin-bottom: 20px;
	color: white;
	font-weight: bold;
}

.spaced {
	margin-top: 5px;
	margin-bottom: 20px;
	padding-left: 60px;
	color: white;
	font-weight: bold;
}

.credit{
	margin-top: 70px;
	margin-bottom: 20px;
	padding-left: 60px;
	color: white;
	font-weight: bold;
}
